@{
    ViewData["Title"] = "Home Page";
}

@model User


<h1 class="text-center">Hobby Hub!</h1>

<div class="text-center mt-5">
    <div class="container d-flex justify-content-between">
        <div class="container">
            <h2>Login</h2>
            <partial name="_Login"/>
        </div>
        <div class="container">
            <h2>Register</h2>
            <form action="/users/create" method="post" class="px-4 py-3 border border-dark bg-dark text-white">
                <div class="form-group d-flex justify-content-between my-2">
                    <label for="firstname" class="w-50 text-left py-1">First Name: </label>
                    <input asp-for="firstname" class="form-control w-75">
                </div>
                <span asp-validation-for="firstname" class="text-danger"></span>

                <div class="form-group d-flex justify-content-between my-2">
                    <label for="lastname" class="w-50 text-left py-1">Last Name: </label>
                    <input asp-for="lastname" class="form-control w-75">
                </div>
                <span asp-validation-for="lastname" class="text-danger"></span>

                <div class="form-group d-flex justify-content-between my-2">
                    <label for="username" class="w-50 text-left py-1">Username: </label>
                    <input asp-for="username" class="form-control w-75">
                </div>
                <span asp-validation-for="username" class="text-danger"></span>

                <div class="form-group d-flex justify-content-between my-2">
                    <label for="password" class="w-50 text-left py-1">Password: </label>
                    <input asp-for="password" class="form-control w-75">
                </div>
                <span asp-validation-for="password" class="text-danger"></span>

                <div class="form-group d-flex justify-content-between my-2">
                    <label for="confirm" class="w-50 text-left py-1">Confirm Password: </label>
                    <input asp-for="confirm" class="form-control w-75">
                </div>
                <span asp-validation-for="confirm" class="text-danger"></span>

                <div class="form-group d-flex mt-4 justify-content-center">
                    <input type="submit" value="Register" class="btn btn-primary btn-lg">
                </div>
            </form>
        </div>
    </div>
</div>